<div  class="catalogue-item">
    
        {{- $image := .Resources.GetMatch "header" -}}
        {{ if $image }}
            {{ $image := $image.Fill "800x300 smart" }}
            {{ $imageUrl := $image.Permalink }}
            {{ $.Scratch.Set "imageUrl" $imageUrl }}
        {{ end }}

        {{ $img := $.Scratch.Get "imageUrl" }}
        <a href="{{ .Permalink }}">
        <time datetime="{{ .PublishDate }}" class="catalogue-time">{{ i18n "publishdate" . }}</time>
        <h1 class="catalogue-title">{{ .Title }}</h1>
        <div class="catalogue-line"></div>
        <img class="catalogue-image" src="{{$img}}" />
        </a>

        {{ if isset .Params "summary" }}{{ .Params.Summary | markdownify }}{{ else }}{{ .Summary }}{{ end }}
    
</div>
