
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ "/" | relURL }}">
            <img src="{{ .Site.Params.logo }}" alt="Davide Aversa Logo" class="d-inline-block align-middle mr-2" style="height: 50px; width: 50px;" />
            <span class="fw-bold">{{ .Site.Title }}</span>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {{ range .Site.Menus.main }}
                <li class="nav-item text-center">
                    <a class="nav-link" href="{{ .URL }}">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                        {{ .Post }}
                    </a>
                </li>
            {{ end }}
            {{- if .Site.Params.Social.twitter -}}
            <li class="nav-item text-center"><a href="https://twitter.com/{{ .Site.Params.Social.twitter }}" class="nav-link text-primary"><i class="fab fa-twitter"></i></a></li>
            {{- end -}}
            {{- if .Site.Params.Social.rss -}}
            <li class="nav-item text-center"><a href="{{ .Site.Params.Social.rss }}" class="nav-link text-primary"><i class="fas fa-rss-square"></i></a></li>
            {{- end -}}
            </ul>
        </div>
    </div>
</nav>
